<div class="recommend-card">
    {{#if image}}
        <img data-src="{{ htmlWebpackPlugin.options.assetPath }}assets/img/recommends/{{image}}">
    {{/if}}
    <div class="recommend-card-text">
        <p>{{# if text}}{{{text}}}{{else}}Transport Fever 2{{/if}}</p>
        {{# if link}}
            <a class="recommend-card-cta" href="{{link}}">{{# if linkText}}{{linkText}}{{else}}Mehr erfahren!{{/if}}</a>
        {{/if}}
    </div>
</div>